body{
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header{
    background: #2071BC;
    height: 300px;
    margin: -8px;
    color: white;
}

.menu_nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 24px;
}

.ul_nav{
    margin: 30px 0px 0px 0px;
    padding: 0;
}

.li_nav{
    list-style-type: none;
    float: left;
    padding: 0px 0px 10px 0px;
    margin: 0px 50px 0px 50px;
    border-bottom: 3px solid #2071BC;
}

.li_nav:hover{
    border-bottom: 3px solid #E5E5E5;
    text-shadow: 1.5px 1.5px 3px #BAB7B7;
}

.h1_header{
    text-align: center;
    font-size: 60px;
    top: 138px;
    margin: 0;
    margin-top: 50px;
}

.ul_main{
    text-align: center;
    font-size: 24px;
    margin: 65px 0px 0px 48px;
    padding: 0;
    font-weight: bold;
    color: white;
    float: left;
}

.li_main{
    line-height: 60px;
    background: #2071BC;
    width: 300px;
    height: 60px;
    list-style-type: none;
    padding: 0;
    margin: 0px 0px 30px 0px;
}

.li_main:hover{
    box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.21);
}

.h2_main{
    margin: 45px 0 0 435px;
    font-size: 34px;
}

.main_text{
    text-align: justify;
    margin: 28px 52px 0 435px;
    font-size: 18px;
}

footer{
    height: 220px;
    background: #2071BC;
    color: white;
    margin: -8px;
}

.ul_footer_h2{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 34px 0px 40px 0px;
    padding: 0;
}

.li_footer_h2{
    height: 40px;
    list-style-type: none;
    float: left;
}

.h2_footer{
    height: 40px;
    font-size: 34px;
}

.ul_footer_info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 0;
    padding:  10px 0px 0px 0px;
}

.li_footer_info{
    list-style-type: none;
}

.ul_footer_icon{
    padding-right: 50px;
}

.li_footer_icon{
    margin-right: 25px;
    float: left;
    list-style-type: none;
}

.footer_contacts{
    font-size: 18px;
    padding-left: 100px;
}

.ul_footer_reference{
    padding-right: 135px;
}

.li_footer_reference{
    list-style-type: none;
}

.footer_reference{
    font-size: 18px;
    text-decoration: none;
    color: white;
}