div {
    background-color: rgb(50,66,92);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

li {
    background-color: rgb(71,85,109);
    padding: 10px;
    color: white;
    border: none;
    display: inline;
    margin: 25px;
}
